{% extends 'wrapper.html' %}

{% block title %}{{ user.username }} - Профиль{% endblock %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <hr>
    {% if results %}
        <ul class="list_container">
            {% for res in results %}
                <li class="list-group-item">
                    <h3>Тест: <a href="{% url 'test' res.test_id %}">{{ res.test }}</a></h3>
                    <p>Результат: <a href="{% url 'result' res.id %}">
                        {{ res.count_correct_questions }}/{{ res.count_questions }}
                    </a></p>
                </li>
            {% endfor %}
        </ul>
        {% if pages %}
            <div style="padding-top: unset" class="text-center">
                <span>Страницы: </span>
               {% for page in pages %}

                   <a href="{% url 'profile_page' page %}">{{ page }}</a>

               {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <h4>Вы не прошли не одного теста</h4>
    {% endif %}
{% endblock %}