{% extends 'main/wrapper.html' %}

{% block title %}{{ test }}{% endblock %}

{% block content %}
    <h1 style="padding-top: 5px;">{{ test }}</h1>
    {% if request.user.is_staff %}
        <div class="alert alert-success">Этот тест прошли {{ count_passed }} раз(-a). Нажмите
        <a href="{% url 'results' test.id %}">здесь</a> чтобы посмотреть все результаты по этому тесту.</div>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            Примечание: <br>
            Вы не вошли в аккаунт.
            Ваши результаты не будут сохранены. Чтобы войти перейдите по
            <a href="{% url 'login' %}">этой</a> ссылке.
        </div>
    {% endif %}
    <div class="alert alert-warning" role="alert">
        Примечание: <br>
        {% if test.note %}
            {{ test.note }}
        {% else %}
            Верных ответов может быть несколько или один, а может вообще и не быть.
        {% endif %}
    </div>
    <hr>
    <form action="{% url 'test' test.id %}" method="post">
    {% csrf_token %}
    <ol>

    {% for q, ans in questions %}
        <li>
            <h4>{{ q }}</h4>
            <ol>
            {% for a in ans %}
                <li> <label>
                    <input type="checkbox" name="{{ q.id }}-{{ a.id }}">
                    {{ a }}
                </label></li>
            {% endfor %}
            </ol>
        </li>
    {% endfor %}

    </ol>
    <button type="submit" class="btn btn-primary">Получить результат</button>
    </form>
{% endblock %}
