<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BUS Tests{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px;">
	  <a class="navbar-brand" href="{% url 'index' %}">BUS-Tests</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'profile' %}">Профиль</a>
		  </li>
		  <li class="nav-item active">
		  	<a href="" class="nav-link" href="{% url 'index' %}">Все тесты</a>
		  </li>
		  <li class="nav-item active">
		  	<a href="" class="nav-link" href="#">Создать новый тест</a>
		  </li>
		</ul>
		<form class="form-inline my-2 my-lg-0" action="{% url 'index' %}" method="POST">
          {% csrf_token %}
		  <input class="form-control mr-sm-2" type="search" name="query" placeholder="Введите название теста" aria-label="Search">
		  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
		</form>
	  </div>
	</nav>

	<div class="main container bg-light" style="min-height: 100vh;">
		{% block content %}
		{% endblock %}
	</div>
    <div class="container-fluid col-md-9 col-padding" id="main" style="padding-bottom: 50px;padding-top: 50px;">

        <footer class="footer">
            <hr>
            <div class="container-fluid row">
                <a target="_blank" style="text-align: center;" href="https://vk.com/bus_410" class="col-6">Вконтакте разработчика</a>
                <a target="_blank" style="text-align: center;" href="https://github.com/BUS410/Tests" class="col-6">Github проекта</a>
            </div>
        </footer>

    </div>

</body>
</html>